// ========== FONTS
$font-stack-1: 'Abel', sans-serif;
$font-stack-2: 'Orbitron', sans-serif;
$font-weight: .95;
// ========== VIEWPORT
$width: 100vw;
$height: 100vh;
$size: 100%;
$padding: 1.5rem;
$radius: .5rem;
$speed: 650ms;
// ========== COLORS
$color-dark: #2c3e50;
$color-light: #ecf0f1;
$color-blue: #3498db;
$color-white: #fff;

// ========== RESET
* {
    &,
    &::before,
    &::after {
        box-sizing: border-box;
    }
}

html {
    font-size: 65.2%
}

body {
    width: $width;
    height: $height;
    margin: 0;
    padding: 0;
    font-family: $font-stack-1;
    overflow: auto;
    background: $color-white;
    overflow: hidden;
    overflow-y: scroll;
    
    &::-webkit-scrollbar {
        width: $padding / 2;
    }

    &::-webkit-scrollbar-thumb {
        height: $padding * .4;
        background: linear-gradient(
            45deg,
            $color-blue 8%,
            $color-dark 35%,
            $color-dark 75%,
            $color-blue 100%
            );
            border-radius: $radius / 2.5;
        }

        &::-webkit-scrollbar-track {
            background: $color-light;
            box-shadow: 0 0 0 $padding * .1 rgba($color-dark, .25) inset;
    }
}

img {
    width: 50rem;
    max-width: $size;
    height: $size;
}

a {
    padding: $padding;
    text-decoration: none;
}

:where(ul[class]) {
    margin: $padding;
    padding: 0;
    display: flex;
    align-items: center;
}

li {
    list-style: none;
}

.container {
    min-height: $height;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .footer--container {
        width: $size;
        background: $color-light;

        .footer {
            padding: 0;
            margin: 0;
    
            & .heading,
            & .copyrights {
                font-family: $font-stack-1;
                padding: 0;
                margin: 0;
                color: $color-dark;
                opacity: .95;
            }

            & .heading {
                font-size: clamp(3vw, $padding * $font-weight + 2, 5vw);
                font-weight: 600 * $font-weight;
                text-transform: uppercase;
            }

            & .copyrights {
                font-size: clamp(1vw, $padding + $font-weight, 4vw);
            }

            & .social {
                padding: $padding;
                margin: $radius;

                &--nav {
                    display: block;
                    position: relative;
                }

                &--icons {
                    .icons {
                        font-size: $padding * 1.95;
                        color: rgba($color-dark, .5)
                    }
                }
            }
        }
    }

    
    .header {
        width: $size;
        height: calc(100rem * .65);
        // height: clamp(54.35rem, 4vh, 100rem);
        display: grid;
        place-items: center;
        padding: $padding * 4 0; 
        margin: 0;
        background: $color-blue;
        position: relative;
        z-index: 1;

        &.active .nav {
            position: fixed;
            top: 0;
            padding: $padding / 1.95 * 3.1;
            transform: translateY(-10%);
            transition: transform $speed ease-in-out
        }
        
        .heading {
            padding: 0;
            margin: 0;
            font-size: clamp(8vw, $padding * 5, 9vw);
            color: $color-white;
            font-family: $font-stack-2;
            font-weight: 800 * $font-weight;
            text-transform: capitalize;
            transform: translateY(0);
            transition: transform $speed ease-in, opacity $speed ease-in-out;

            &.slideUp {
                opacity: 0;
                font-size: clamp(8vw, $padding * 4, 9vw);
                transform: translateY(-50%);
                transition: transform $speed ease-in-out, opacity $speed ease-in;
            }
        }
        
        .nav {
            width: $size;
            height: $padding * 6.5;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            position: absolute;
            bottom: 0;
            padding: $padding * 2;
            background: $color-blue;
            transform: translateY(0);
            transition: transform $speed ease, height $speed ease;
            
            @media screen and (max-width: 45em){
                & {
                    justify-content: center;
                }
            }

            &--menu {
                
                &__item {
                    margin: $padding;
                }
                
                &__link {
                    padding: 0;
                    color: $color-light;
                    font-size: clamp(2.5vw, $padding * $font-weight + 1, 5vw);
                    text-transform: capitalize;
                }
            }
        }
    }
}

// GALLERY
.content {
    width: $size;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30.75em, 1fr));
    grid-template-rows: auto;
    gap: $padding;
    place-content: center;
    padding: $padding * 3;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 0;

    .section {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: $padding * 3 0 0 0;
        opacity: 0;
        transform: translateX(400%);
        transition: transform .3s ease, opacity .3s ease;

        &:nth-of-type(even) {
            transform: translateX(-400%);
            transition: transform .4s ease-in, opacity .4s ease;
        }

        &.show {
            opacity: 1;
            transform: translateX(0);
        }

        .heading {
            font-size: $padding * $font-weight + 1;
            text-transform: capitalize;
            color: $color-dark;
            padding: $padding * $font-weight;
        }

        .image {
            border-radius: $radius;
            filter: drop-shadow($radius * .5 $radius * .75 $radius * 1.1 rgba($color-dark, .7));
        }

        .link {
            display: inline-block;
            font-size: $padding;
            color: $color-dark;
            text-transform: uppercase;
        }
    }
}