:root {
    --size: 100%;
    --height: 100vh;
    --pos: 50%;
    --grey: #222;
    --dark--grey: #333;
    --light--grey: #666;
    --white: #fff;
}

body {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    width: var(--size);
    height: var(--height);
    display: grid;
    place-items: center;
}

.floppy__container {
    position: relative;
    display: block;
}

.floppy {
    width: 32em;
    height: 32em;
    position: absolute;
    top: var(--pos);
    left: var(--pos);
    transform: translate(-50%,-50%);
    background: var(--dark--grey);
    background-position: 0.625em var(--size), 0.625em var(--size), var(--size);
    background-size: var(--size);
    background-image: linear-gradient(
        to bottom,
        var(--grey),
        var(--dark--grey)
    ),
    linear-gradient(
        to top,
        var(--dark--grey) 10%,
        var(--light--grey) 95%
    ),
    linear-gradient(
        to bottom,
        var(--grey),
        var(--dark--grey)
    );
    border-radius: .5765em 0 .5765em .5765em;
}

.floppy::before,
.floppy::after {
    content: '';
    display: block;
    position: absolute;
}

.floppy::after {
    width: 0;
    height: 0;
    top: 0;
    left: var(--size);
    transform: translate(-90%,-10%);
    border-right: 2em solid var(--white);
    border-left: 1.61875em solid transparent;
    border-bottom: 2.0175em solid transparent;
}
