body {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

:root {
	--pos: 50%;
	--grey: hsl(330, 2%, 75%);
}

.mushroom {
	perspective: 500px;
}

.container,
.mushroom {
	height: 100vh;
	display: grid;
	place-items: center;
	transform-style: preserve-3d;
	position: relative
}

.head {
	width: 320px;
	height: 260px;
	border-radius: 90% 90% 80% 80% / 90% 90% 85% 85%;
	background: hsl(1, 99%, 43%);
	transform: translateZ(10px) rotateX(-15deg) rotateY(0deg) scale(1.12, 1.25) skew(0deg);
	box-shadow: -0.175vmin -0.4625vmin 0.675em rgba(0,0,0,.4) inset, -0.275vmin -0.975vmin 0.675em rgba(0,0,0,.62) inset, -0.475vmin -0.625vmin 0.675em rgba(0,0,0,.41) inset, 1.575vmin -0.975vmin 0.475em rgba(0,0,0,.29) inset, -4.75vmin -5.0975vmin 3.675em rgba(0,0,0,.4) inset, 3.125vmin -4.125vmin 3.675em hsl(1, 100%, 15%) inset;
}

.left,
.right,
.center {
	position: absolute;
	background: hsl(330, 5%, 93%);
	border-radius: var(--pos);
	box-shadow: 1.0125vmin -3.125vmin 1.675em var(--grey) inset,
		1.2875vmin -3.1875vmin 1.71875em hsl(0, 0%, 80%) inset;
	z-index: 1
}

.center {
	width: 160px;
	height: 140px;
	top: 5%;
	left: var(--pos);
	transform: translate(-50%, -5%) rotate(0deg) skew(1deg, -1deg);
}

.left,
.right {
	width: 35px;
	height: 115px;
	top: var(--pos);
	border-radius: var(--pos);
}

.left {
	left: 1.4%;
	transform: translate(-2.5%, -50%) rotate(3deg) scaleX(1.2) skewY(5deg);
}

.right {
	right: .7%;
	transform: translate(-2.5%, -50%) rotate(-2deg) scaleX(1.2) skewY(5deg);
}

.face {
	width: 220px;
	height: 130px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 85% 85% 45.54% 45.54% / 84% 84% 100% 100%;
	position: absolute;
	top: var(--pos);
	left: var(--pos);
	transform: translate(-50%,40%) translateZ(15px) rotateX(-15deg) rotateY(0deg) scale(1, 1.1);
	background: hsl(43, 62%, 68%);
	box-shadow: 0.0175vmin 0.4625vmin 0.275em rgba(0,0,0,1) inset, 1.00275vmin 1.975vmin 0.375em rgba(0,0,0,.4) inset, -0.175vmin 0.625vmin 0.275em rgba(0,0,0,1) inset, -1.275vmin -0.975vmin 0.475em rgba(0,0,0,.2) inset, -1.75vmin 1.975vmin 0.675em rgba(155,155,155,.4) inset, -0.125vmin -4.125vmin 1.675em hsl(1, 100%, 15%);
}

.eye {
	width: 15px;
	height: 58px;
	background: hsl(16, 26%, 11%);
	border-radius: calc(var(--pos) + 20px);
	border: none;
	transform: rotate(1deg);
}

.eye::after {
	content: '';
	width: var(--pos);
	height: 15px;
	position: absolute;
	top: 1.2rem;
	left: var(--pos);
	transform: translate(-50%,-1rem);
	background: hsl(330, 5%, 93%);
	border-radius: var(--pos);
	box-shadow: 0.01875vmin 0.1875vmin 0.975em rgba(255,255,255,1), 0.125vmin 0.187vmin 0.275em var(--grey) inset;
}