body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
}

:root {
    --pos: 50%;
    --size: 100%;
    --height: 100vh;
    --left-radius: 6.084272em .482em .482em 6.084272em;
    --right-radius: .482em 6.084272em 6.084272em .482em;

    --font-stack: 'Abel', sans-serif;

    /* COLORS */
    --gray: #222222;
    --black: #000;
    --white: #fff;
    --light-blue: #00C0E3;
    --light-red: #FE5A4B;
    --light-gray: #4E5D61;
    --dark-gray: #333333;
    --dark-cloud: #444444;
    --cloud: #666666;
    --screen: #1C1D21;
    /* shadow */
    --left-shadow: #0896B7;
    --light-blue-shadow: #02DCF1;
    --right-shadow: #FA261C;
    --light-red-shadow: #FE8877;
}

/* ============================== General Content ============================== */
.container {
    width: var(--size);
    height: var(--hegiht);
}

.container,
.header,
.switch--container,
.joy--con,
.stick,
.button,
.minus--button,
.plus--button,
.capture--button,
.action--buttons,
.directional--buttons,
.home--button,
.display--box {
    position: relative;
}

button {
    cursor: pointer;
    border: none;
}

button:focus {
    outline: none
}

.header {
    padding: 1em 0;
    margin: 0;
    display: block;
}

.header .heading {
    font-family: var(--font-stack);
    font-size: 3.84rem;
    text-transform: capitalize;
    text-align: center;
}

.switch--container {
    height: var(--height);
    display: grid;
    place-items: center;
}

.switch {
    width: var(--size);
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* ============================== Joy-Con ============================== */
.joy--con {
    width:  9.015em;;
    height: 30em;
    display: block;
    /* display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; */
    backface-visibility: hidden;
}

.left--joycon {
    border-radius: var(--left-radius);
    background: var(--light-blue);
    box-shadow: 
        0 -0.0625em 0.0125em var(--left-shadow) inset,
        3px 4px 6px var(--light-blue-shadow) inset,
        0 0.0125em 0.125em -0.03125em rgba(0,0,0,.2), 0 0.1875em 0.0125em -0.08743em rgba(255,255,255,.4);
        left: 0
}

.right--joycon {
    border-radius: var(--right-radius);
    background: var(--light-red);
    box-shadow: 
        -0.0625em -0.0625em 0.0125em var(--right-shadow) inset,
        -3px 4px 6px var(--light-red-shadow) inset, 0 0.0125em 0.125em -0.03125em rgba(0,0,0,.2), 0 0.1875em 0.0125em -0.08743em rgba(255,255,255,.4);
    right: 0
}

.left--joycon::before,
.left--joycon::after,
.right--joycon::before,
.right--joycon::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, 25px);
    z-index: 3
}

.left--joycon::before,
.right--joycon::before {
    width: 0.375em;
    height: 24.0625em;
    top: 0.75em;
    box-shadow: none;
    filter: blur(.0225em);
    z-index: -1
}

.left--joycon::after,
.right--joycon::after {
    width: 0.625em;
    height: 25.625em;
    background: var(--gray);
    top: 0.75em;
    filter: blur(0);
    z-index: -1;
}

.left--joycon::before {
    left: calc(var(--pos) +  4.55em);
    background: var(--black);
    border-radius: 0 .135em .135em 0;
}

.left--joycon::after {
    left: calc(var(--pos) +  5.014em);
    background: var(--dark-cloud);
    border-radius: 2.5px;
}

.right--joycon::before {
    right: calc(var(--pos) +  5.75em);
    background: var(--black);
    border-radius: 0 .135em .135em 0;
}

.right--joycon::after {
    left: calc(var(--pos) -  5.0142em);
    background: var(--dark-cloud);
    border-radius: 2.5px;
}

/* ============================== Stick ============================== */
.stick {
    width: 5.75em;
    height: 5.75em;
    position: absolute;
    top: 5.3125em;
    left: 2.5em;
    border-radius: var(--pos);
    background: var(--gray);
    background-repeat: no-repeat;
    background-position: center;
    background-size: .2685em var(--size), var(--size) .2685em, var(--size);
    background-image: linear-gradient(
        to bottom,
        var(--gray),
        var(--black)
    ),
    linear-gradient(
        to bottom,
        var(--gray),
        var(--dark-gray)
    ),
    linear-gradient(
        to bottom,
        var(--cloud),
        var(--black)
    );
    box-shadow: .125em -.0625em 0 .25em rgba(0,0,0,0), 0 -0.0625em 0.125em rgba(0,0,0,.75) inset, 0 0.125em 0.125em -0.03125em rgba(0,0,0,.2) inset, 0 0.1875em 0.125em -0.0625em rgba(255,255,255,.3) inset, 0 0 0.09375em rgba(0,0,0,.75), 0 0.375em 1em 0.0625em rgba(0,0,0,.4);
}

.stick::before,
.stick::after {
    content: '';
    width: 75%;
    height: 75%;
    display: block;
    position: absolute;
    top: var(--pos);
    left: var(--pos);
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient(
        to bottom,
        var(---cloud),
        var(--gray)
    );
    border-radius: var(--pos);
    box-shadow: 0 0 0.125em rgba(255,255,255,0.08) inset;
}

.stick::before {
    width: 85%;
    height: 85%;
    background-size: 0.2685em var(--size), var(--size) 0.2685em, var(--size);
    background-position: center;
    background-image: linear-gradient(
        to bottom,
        var(--dark-cloud),
        var(--black)
    ),
    linear-gradient(
        to bottom,
        var(--gray),
        var(--dark-gray)
    ),
    linear-gradient(
        to bottom,
        var(--gray),
        var(--cloud)
    );
    box-shadow: none
}

.stick::after {
    background-image: linear-gradient(
        to bottom,
        var(--dark-cloud) 12%,
        var(--black) 100%,
        var(--light-gray) 90%
    );
    box-shadow: none
}

.left--stick {
    top: 7.75em;
    left: 2.75em;
    margin: 1em 0;
}

.right--stick {
    top: var(--pos);
    left: 2.75em
}

/* ============================== Buttons ============================== */
.minus--button,
.plus--button {
    width: 1.95em;
    height: 0.6525em;
    top: 3.1875em;
    background-image: linear-gradient(
        to bottom,
        var(--dark-cloud),
        var(--black)
    ),
    linear-gradient(
        to bottom,
        var(--gray),
        var(--dark-gray)
    ),
    linear-gradient(
        to bottom,
        var(--gray),
        var(--cloud)
    );
    border-radius: 0.125em;
    box-shadow: .125em -.0625em 0 .25em rgba(0,0,0,0), 0 -0.0625em 0.125em rgba(0,0,0,.75) inset, 0 0.125em 0.125em -0.03125em rgba(0,0,0,.2) inset, 0 0.1875em 0.125em -0.0625em rgba(255,255,255,.3) inset, 0 0 0.09375em rgba(0,0,0,.75), 0 0.175em 1em 0.0325em rgba(0,0,0,.28);
}

.minus--button {
    left: 7.7325em;
}

.plus--button {
    right: -1.175em;
}

.plus--button::before {
    content: '';
    width: 0.6525em;
    height: 1.95em;
    position: absolute;
    top: var(--pos);
    left: var(--pos);
    transform: translate(-50%, -50%);
    background-image: linear-gradient(
        to bottom,
        var(--dark-cloud),
        var(--black)
    ),
    linear-gradient(
        to bottom,
        var(--gray),
        var(--dark-gray)
    ),
    linear-gradient(
        to bottom,
        var(--gray),
        var(--cloud)
    );
    border-radius: 0.125em;
    z-index: 2
}

.directional--buttons,
.action--buttons {
    width: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 1em 0;
}

.directional--buttons {
    top: 12.25em;
    left: 1.985em;
}

.action--buttons {
    top: 5.25rem;
    left: 1.625em;
}

.button {
    width: 2.2985em;
    height: 2.2985em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--pos);
    background: var(--dark-gray);
    box-shadow: 0 -1.5px 0 rgba(0,0,0,.5) inset, 
                             -2px -2px 5px var(--light-gray) inset,
                             2px -2px 4px var(--dark-gray) inset;
}

.top,
.X--button {
    grid-column: 2;
}

.left,
.Y--button {
    grid-column: 1;
    grid-row: 2;
}

.left .lf {
    margin-right: 2.5px;
}

.right,
.A--button {
    grid-column: 3;
    grid-row: 2;
}

.right .rt {
    margin-left: 2.5px
}

.down,
.B--button {
    grid-column: 2;
    grid-row: 3;
}

.button.X--button::before ,
.button.Y--button::before, 
.button.B--button::before,
.button.A--button::before  {
    content: attr(data-letter);
    position: absolute;
    color: var(--white);
    font-size: .75rem;
    text-align: center;
    font-family: var(--font-stack);
    font-weight: 600;
    margin: 0 -0.0625em;
}

.capture--button,
.home--button {
    width: 1.8625em;
    height: 1.8625em;
    bottom: -15em;
}

.capture--button {
    left: 7.09325em;
    border-radius: 2px;
    background: var(--gray);
    box-shadow: 0 2px 2px rgba(0,0,0,.4), 
                             -1px -1.2px 1px var(--dark-gray) inset,
                             1px -2px 2px var(--dark-cloud) inset;
}

.capture--button::after {
    width: 18px;
    height: 18px;
    content: '';
    top: 12%;
    left: 12.5%;
    position: absolute;
    border-radius: var(--pos);
    background: var(--dark-gray);
    box-shadow: 2px 2px 3px rgba(0,0,0,.1) inset,
                              -2px -2px 3px rgba(255,255,255,.1) inset;
}

.home--button {
    display: grid;
    place-items: center;
    right: -1.975em;
    border: 3px solid var(--cloud);
    border-radius: var(--pos);
    background: var(--dark-gray)
}

/* .home--button .home {
    font-size: 1rem
} */

.shoulder {
    width: 8.55815em;
    height: 6.5em;
    display: block;
    position: absolute;
    top: -0.5em;
    border-radius: 0;
    background: var(--light-gray) !important;
    background-position: 0 0;
    background-size: var(--size);
    background-repeat: no-repeat;
    background-image: linear-gradient(
        to bottom,
        var(--gray),
        var(--dark-cloud)
    ),
    linear-gradient(
        to bottom,
        var(--gray),
        var(--black)
    ),
    linear-gradient(
        to bottom,
        var(--cloud),
        var(--dark-gray)
    );
    box-shadow: 0.125em 0.125em 0.25em 0 rgba(0,0,0,.159) inset, -0.125em -0.125em 0.25em 0 rgba(255,255,255,.159) inset, .125em -.0625em 0 .25em rgba(0,0,0,0), 0 -0.0625em 0.125em rgba(0,0,0,.75) inset, 0 0.125em 0.125em -0.03125em rgba(0,0,0,.2) inset, 0 0.1875em 0.125em -0.0625em rgba(255,255,255,.3) inset, 0 0 0.09375em rgba(0,0,0,.75), 0 0.375em 1em 0.0625em rgba(0,0,0,.4);
    filter: blur(0.0154em);
    z-index: -1
}

.__left {
    background-size: var(--size);
    border-radius: 6.084272em .374em 0 .374em;
    transform: translate(0.28438em, .11254em) rotate(0) skewX(-9.5deg);
}

.__right {
    background-size: var(--size);
    border-radius: .374em 6.084272em  .374em 0;
    transform: translate(1.9976em, .11254em) rotate(0) skewX(9.5deg);
}

/* ============================== Screen ============================== */
.display--box {
    width: 43.795em;
    height: 29.25em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 3px;
    background: linear-gradient(
        45deg,
        var(--gray) 3%,
        var(--light-gray) 89%
    );
    border-top-left-radius: 15px;
    border-top-right-radius:  15px;
    box-shadow: 2px 2px 6px 0 rgba(0,0,0,.4) inset,
                             -2px -2px 6px 0 rgba(255,255,255,.4) inset;
}

.display--box::before,
.display--box::after {
    content: '';
    width: calc(var(--size) + 3px);
    height: 278px;
    position: absolute;
    transform: translate(0, 0);
    z-index: -1;
    padding: 0 1.5px;
}

.display--box::after {
    width: calc(var(--size) - 20px);
    height: 15px;
    background: var(--dark-cloud);
    top: -10px;
    left: 8px;
    border-top-left-radius: 2px;
    border-top-right-radius:  2px;
    background: linear-gradient(
        25deg,
        var(--gray) 23%,
        var(--light-gray) 89%
    );
    box-shadow: 0 0 3px rgba(0,0,0,.5) inset,
                              3px -4px 6px var(--light-gray) inset,
                              3px 4px 6px var(--dark-gray) inset;
    z-index: 2
}

.display {
    width: calc(var(--size) - 3em);
    height: 27em;
    background: var(--black);
    margin: auto;
    border-radius: 15px;
}

.screen {
    width: calc(var(--size) - 7em);
    height: 22em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 2.5em auto;
    background: var(--screen);
    border-radius: 0
}

.screen .logo--container {
    width: 110px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left--logo,
.right--logo {
    height: 100px;
    border: 6px solid var(--white);
}

.left--logo {
    width: 36px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.right--logo {
    width: 32px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background: var(--white);
    animation: updown 2s ease infinite alternate
}

.left--logo::after,
.right--logo::after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: translate(-50%, -50%);
    border-radius: var(--pos);
}

.left--logo::after {
    top: -110px;
    left: -32px;
    background: var(--white)
}

.right--logo::after {
    bottom: -40px;
    right: -12px;
    background: var(--gray)
}

@keyframes updown {
    from {
        transform: translateY(-6px);
    }
    to {
        transform: translateY(6px);
    }
}

.screen .nintendo {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    font-family: var(--font-stack);
    color: var(--white);
    text-align: center;
    font-weight: 500;
    letter-spacing: 8px;
    line-height: 30px;
}

.nintendo span {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 2.25rem;
    font-weight: 600;
}

.nintendo small {
    align-self: flex-end;
    position: relative;
    right: -5px;
    bottom: 20px;
    font-size: .54rem;
    letter-spacing: 1px;
}