$bg-color: #3498db;
$sky-color: #78C0E0;
$text-color: #ecf0f1;
$font-stack: 'Abel', sans-serif;
$size: 100vw;
$height: 100vh;

html {
    font-size: 65.2%;
}

body {
    --font-weight: .85;
    margin: 0;
    padding: 0;
    width: $size;
    height: $height;
    display: grid;
    place-items: center;
    overflow: hidden;
    background: $sky-color;
    background-image: linear-gradient( to bottom, $sky-color 0%, $sky-color 50%, $bg-color 50%, $bg-color 100%);
    font-family: $font-stack;
}

nav {
    width: 8rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $text-color;
    margin: 0;
    border-radius: .5rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.6);
    transition: width .5s linear;

     .nav--menu {
        width: 0;
        display : flex;
        padding: 0;
        margin: 0;
        list-style: none;
        transition: width .5s linear;
        & li {
            transform: rotateY(0deg);
            opacity: 0;
            transition: transform .5s linear, opacity 1s linear;
            & a {
                display: inline-block;
                text-decoration: none;
                font-weight: calc( 700 * var(--font-weight, 1) );
                font-size: 1.8rem;
                margin: 0 1rem;
                pointer-events: none;
                &::first-letter {
                    font-size: 2.75rem;
                }
            }
        }
    }

    .icon {
        width: 3rem;
        height: 3rem;
        position: relative;
        background: transparent;
        padding: 1rem;
        border: 0;
        cursor: pointer;
        .line {
            width: 2.5rem;
            height: .2rem;
            position: absolute;
            top: 1.5rem;
            left: .5rem;
            margin: .2rem 0;
            background: $bg-color;
            transition: transform .5s linear;
        }
        .line2 {
            top: auto;
            bottom:1.5rem;
        }
    }
}

nav.active {
    width: 35rem;
     & .nav--menu {
        width: 100%;

        & li {
            opacity  : 1;
            transform: rotateY(360deg);
            & a {
                pointer-events: all;
            }
        }
    }
    & .icon .line1 {
        transform: translateY(.5rem) rotate(-765deg);
    }

    & .icon .line2 {
        transform: translateY(-.5rem) rotate(765deg);
    }
}
