:root {
    --font-stack: 'Abel', sans-serif;
    --font-weight: .95;
    --dark-color: #000000;
    --light-color: #eef7ef;
    --width: 100vw;
    --height: 100vh;
    --size: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-stack);
    width: var(--width);
    height: var(--height);
    display: grid;
    place-items: center;
    background: var(--dark-color);
}

.ripple {
    padding: 2rem 3rem;
    margin: 1rem 0;
    position: relative;
    border: .2rem solid rgba(30, 63, 212);
    border-radius: .3rem;
    background: rgb(30, 63, 212);
    color: var(--light-color);
    font-size: 2rem;
    font-weight: calc( 500 * var(--font-weight, 1));
    letter-spacing: .2rem;
    text-transform: capitalize;
    overflow: hidden;
    cursor: pointer;
}

.ripple:focus {
    outline: none;
}

.ripple .circle {
    width: 100px;
    height: 100px;
    position: absolute;
    top: calc( var(--size) * .5 );
    left: calc( var(--size) * .5 );
    transform: translate(-50%,-50%) scale(0);
    border-radius: calc( var(--size) * .5 );
    background: var(--light-color);
    animation: scale 1s cubic-bezier(.18,.89,.32,1.28);
}

@keyframes scale {
    to {
        transform: translate(-50%,-50%) scale(3);
        opacity: 0;
    }
}