:root {
    --size  : 100vw;
    --height: 100vh;
    --percent: 100%;
    --text-color: #ecf0f1;
}

html {
    font-size: 65.2%
}

body {
    margin    : 0;
    padding   : 0;
    width     : var(--size);
    height    : var(--height);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    // background: url('../images/header.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
    overflow  : hidden;
    box-sizing: border-box;
    transition: .4s;
    &::before {
        content: '';
        width: var(--percent);
        height: var(--height);
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .7);
        z-index: -1;
    }
}

.container {
    width     : 70vw;
    height    : 70vh;
    position: relative;
    overflow  : hidden;
    box-shadow: 0 .3rem .6rem rgba(0, 0, 0, .15), 0 .3rem .6rem rgba(0, 0, 0, .25);
    .buttons--container {
        width: var(--percent);
        height: var(--percent);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .arrow {
            position: fixed;
            background: transparent;
            border: 0;
            opacity: .75;
            cursor: pointer;
            z-index: 1;

            &:hover {
                opacity: 1;
            }

            &.left {
                left: calc( 15vw - 6.5rem )
            }

            &.right {
                right: calc( 15vw - 6.5rem )
            }

            .icon {
                color: var(--text-color);
                font-size: 5rem;
                font-weight: 800;
            }
        }
    }
}

.slide {
    opacity: 0;
    width: var(--size);
    height: var(--height);
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: -15vh;
    left: -15vw;
    transition: .5s ease;
    z-index: 1;
    &.active {
        opacity: 1;
    }
}