$bg-color-dark-blue: #2c3e50;
$bg-color-light-blue: #3498db;
$bg-color-dark-red: #940606;
$bg-color-dark: #26282c;
$alpha: rgba(0,0,0,.2);
$white: #fff;

// fonts
$font-stack: 'Orbitron', sans-serif;

// layouts
$size: 100%;
$v-height: 50vh;
$pos: 50%;