// ========== FONTS
$font-stack-1: 'Abel', sans-serif;
$font-stack-2: 'Montserrat', sans-serif;
$font-weight: .95;
// ========== VIEWPORT
$width: 100vw;
$height: 100vh;
$size: 100%;
// ========== COLORS
$color-dark: #2c3e50;
$color-light: #ecf0f1;
$color-light-grey: #d4d3dd;
$color-light-yellow: #efefbb;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 65.2%
}

body {
    width: $size;
    margin: 0;
    padding: 0;
    font-family: $font-stack-1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: $color-light-yellow;
    background-image: linear-gradient(to right, $color-light-grey, $color-light-yellow);
    color: $color-dark
}

h1 {
    font-size: 4rem;
    display: block;
    & span {
        display: inline-block;
        text-transform: capitalize;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 120rem;

    .pokemon {
        margin: 1rem;
        padding: 2rem;
        box-shadow: 0 .3rem 1.5rem rgba($color-dark, .4);
        // box-shadow: 0 3px 15px rgb(100, 100, 100 / 50%);
        border-radius: 1rem;
        text-align: center;

        .pokemon--container {
            margin : 0;
            padding: 1rem;
            box-shadow: 0 0.1rem 2rem rgba($color-dark, .3) inset,
            -1rem -0.1rem 2rem rgba($color-light, .3) inset;
            border-radius: 1rem;
            .img--container {
                width: 12rem;
                height: 12rem;
                border-radius: $size * .5;
                background: rgba($color-light, .6);
    
                & img {
                    width: $size * .9;
                    margin-top: 2rem;
                }
            }
    
            .info { 
                margin-top: 2rem;
    
                .number {
                    padding: .5rem 1rem;
                    border-radius: 1rem;
                    background: rgba($color-dark, .4);
                    font-size: initial
                }
    
                .name {
                    margin: 1.5rem 0 .7rem;
                    letter-spacing: .1rem;
                    font-size: initial;
                    text-transform: capitalize;
                    font-weight: 700 * $font-weight;
                }
    
                & small {
                    font-size: initial;
                    display: inline-block;
                    &::first-letter { text-transform: uppercase; }
                }
            }
        }
    }
}